<div id="<%= dom_id need %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Family:</strong>
    <%= need.family_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= need.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beneficiary:</strong>
    <%= need.beneficiary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attended:</strong>
    <%= need.attended %>
  </p>

</div>
