<div class="nested-fields">
  <div class="my-5" style="display: flex; flex-wrap: wrap; gap: 1rem;">
    <div style="flex: 1 1 300px">
      <%= f.label :name, "Nome" %>
            <%= f.text_field :name, class: "block w-full shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
        </div>
        <div class="w-1/4 px-2 mb-4">
            <%= f.label :age, "Idade" %>
            <%= f.number_field :age, class: "block w-full shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
    </div>

    <div style="flex: 1 1 300px">
      <%= f.label :role, "Papel familiar" %>
            <%= f.select :role, options_for_select(["avô", "avó", "pai", "mãe", "filho", "filha"]), {}, class: "block w-full shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
    </div>
  </div>

  <div class="mb-4">
  <%= f.label :age, "Idade (ou preencha a data de nascimento)" %>
  <%= f.number_field :age, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-24" %>
</div>

<div class="mb-4">
  <%= f.label :birth_date, "Data de nascimento (ou preencha a idade)" %>
  <%= f.date_field :birth_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-24" %>
</div>

  <div class="mb-4">
    <%= f.label :firm_in_faith, "Firme com Jesus?", class: "mr-2" %>
    <%= f.check_box :firm_in_faith, class: "shadow rounded-md border border-gray-400 outline-none" %>
  </div>

  <%= link_to_remove_association "Remover membro", f, class: "text-red-500" %>
</div>
