<div id="<%= dom_id visit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Family:</strong>
    <%= visit.family_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= visit.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visit date:</strong>
    <%= visit.visit_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observations:</strong>
    <%= visit.observations %>
  </p>

</div>
