<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Visits" %>

  <h1 class="text-3xl font-bold text-center mb-6">Lista de últimas visitas</h1>

  <div class="flex justify-center space-x-4 mb-6">
    <%= link_to "Listar por família", families_path, 
        class: "px-4 py-2 #{current_page?(families_path) ? 'bg-blue-600 text-white' : 'bg-gray-100 text-gray-700'} rounded-lg hover:bg-blue-700 hover:text-white transition duration-300" %>
    <%= link_to "Listar por visitas", visits_path, 
        class: "px-4 py-2 #{current_page?(visits_path) ? 'bg-blue-600 text-white' : 'bg-gray-100 text-gray-700'} rounded-lg hover:bg-blue-700 hover:text-white transition duration-300" %>
  </div>

  <div class="flex justify-between items-center mb-6">
    <div class="w-1/2">
      <input type="text" placeholder="Pesquisar por família" class="w-full px-4 py-2 border rounded-lg">
    </div>
  </div>

  <div>
    <% visits_data = @visits.map do |visit|
      [
        { header: 'Data da visita', content: visit.visit_date.strftime('%d/%m/%Y'), id: "visit-date-#{visit.id}" },
        { header: 'Nome do visitante', content: visit.user.name, id: "visitor-name-#{visit.id}" },
        { header: 'Região', content: visit.visited_project&.region&.name, id: "region-#{visit.id}" },
        { header: 'Projeto', content: visit.visited_project&.project&.name, id: "project-#{visit.id}" },
        { header: 'Família', content: link_to("#{visit.family.reference_name} (#{visit.family.members.count} pessoas)", 
          family_path(visit.family), 
          class: "text-blue-600 hover:text-blue-800 hover:underline transition duration-300 ease-in-out"), 
          id: "family-#{visit.id}" },
        { header: 'Necessidades pendentes', content: visit.family.needs.where(attended: false).pluck(:name).join(", "), id: "needs-#{visit.id}", class: "max-w-[450px] whitespace-normal break-words text-left" },
        { 
          header: 'Observações', 
          content: visit.observations.first&.observation || "N/A", 
          id: "observations-#{visit.id}",
          class: "px-6 py-4 text-sm text-gray-500 max-w-[450px] whitespace-normal break-words text-left"
        }
      ]
    end %>

    <%= data_table(visits_data) %>

    <div class="mt-6 flex justify-center">
      <%= paginate @visits, theme: 'tailwind', window: 2,
        class: "pagination",
        previous_label: '← Anterior',
        next_label: 'Próxima →' %>
    </div>
  </div>
</div>
