<div id="<%= dom_id family %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Reference name:</strong>
    <%= family.reference_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= family.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">House number:</strong>
    <%= family.house_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= family.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= family.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone1:</strong>
    <%= family.phone1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone2:</strong>
    <%= family.phone2 %>
  </p>

</div>
