<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Families" %>

  <h1 class="text-3xl font-bold text-center mb-6">Lista de Famílias</h1>

  <div class="flex justify-between items-center mb-6">
    <div class="w-1/2">
      <input type="text" placeholder="Pesquisar por família" class="w-full px-4 py-2 border rounded-lg">
    </div>
    <div>
      <%= link_to "+ Nova família", new_family_path, class: "px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700" %>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">Nome de Referência</th>
          <th scope="col" class="px-6 py-3 text-center">Endereço</th>
          <th scope="col" class="px-6 py-3 text-center">Cidade</th>
          <th scope="col" class="px-6 py-3 text-center">Estado</th>
          <th scope="col" class="px-6 py-3 text-center">Telefones</th>
          <th scope="col" class="px-6 py-3 text-center">Qtd. Membros</th>
          <th scope="col" class="px-6 py-3 text-center">Última visita / Qtd. visitas</th>
          <th scope="col" class="px-6 py-3 text-center">Última Observação</th>
          <th scope="col" class="px-6 py-3 text-center">Necessidades Pendentes</th>
          <th scope="col" class="px-6 py-3 text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @families.each do |family| %>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= family.reference_name %>
            </th>
            <td class="px-6 py-4 text-center"><%= "#{family.street}, #{family.house_number}" %></td>
            <td class="px-6 py-4 text-center"><%= family.city %></td>
            <td class="px-6 py-4 text-center"><%= family.state %></td>
            <td class="px-6 py-4 text-center">
              <%= family.phone1 %>
              <%= "/ #{family.phone2}" if family.phone2.present? %>
            </td>
            <td class="px-6 py-4 text-center"><%= family.members.count %></td>
            <td class="px-6 py-4 text-center">
              <%= family.last_visit_date ? family.last_visit_date.strftime('%d/%m/%Y') + " / " : '' %>
              <%= family.visits.count %>
            </td>
            <td class="px-6 py-4 text-center">
              <%= family.last_observation&.truncate(50) %>
            </td>
            <td class="px-6 py-4 text-center">
              <ul>
                <% family.pending_needs.each do |need| %>
                  <li><%= need.description.truncate(30) %></li>
                <% end %>
              </ul>
            </td>
            <td class="px-6 py-4 text-center">
              <%= link_to "Ver", family_path(family), class: "text-blue-600 hover:text-blue-800 hover:underline transition duration-300 ease-in-out" %>
              <%= link_to "Editar", edit_family_path(family), class: "text-green-600 hover:text-green-800 hover:underline transition duration-300 ease-in-out ml-2" %>
              <%= link_to "Excluir", family_path(family), method: :delete, data: { confirm: 'Tem certeza?' }, class: "text-red-600 hover:text-red-800 hover:underline transition duration-300 ease-in-out ml-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
