<div class="mx-auto w-full max-w-3xl">
  <h1 class="text-2xl font-bold mb-4"><%= @family.reference_name %></h1>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="bg-white rounded-lg p-6">
    <div class="mb-6 flex justify-between items-center">
      <h2 class="text-xl font-semibold">
        Informações da Família
      </h2>
      <%= link_to edit_family_path(@family), class: "text-blue-500" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      <% end %>
    </div>

    <div class="mb-6">
      <h2 class="text-xl font-semibold">Endereço</h2>
      <% if @family.street.present? && @family.house_number.present? %>
        <p><strong>Rua:</strong> <%= @family.street %>, casa <%= @family.house_number %></p>
      <% end %>
      <% if @family.city.present? %>
        <p><strong>Cidade:</strong> <%= @family.city %></p>
      <% end %>
      <% if @family.state.present? %>
        <p><strong>Estado:</strong> <%= @family.state %></p>
      <% end %>
    </div>

    <div class="mb-6">
      <h2 class="text-xl font-semibold">Contato</h2>
      <% if @family.phone1.present? %>
        <p>
          <strong>Telefone 1:</strong> 
          <%= phone_links(@family.phone1) %>
        </p>
      <% end %>
      <% if @family.phone2.present? %>
        <p>
          <strong>Telefone 2:</strong> 
          <%= phone_links(@family.phone2) %>
        </p>
      <% end %>
    </div>

    <div>
      <div class="w-full md:w-1/2">
      <%= turbo_frame_tag "new_member" do %>
        <%= render 'members/form', family: @family, member: Member.new, hide_form: true %>
      <% end %>
      </div>
      <div id="members-table" >
        <%= render 'members/table', family: @family %>
      </div>
    </div>
    <br>
    <br>
    <div id="visits-table" style="overflow-x: auto; display: inline-table;">
      <%= render 'visits/table', family: @family %>
    </div>

    <div class="mt-6">
      <%= link_to "Registrar Nova Visita", new_family_visit_path(@family), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
    </div>

    <div class="mt-8">
      <h2 class="text-xl font-semibold mb-4">Necessidades da Família</h2>
      <div id="needs-table" style="overflow-x: auto; display: inline-table;">
        <%= render 'needs/table', family: @family %>
      </div>

      <div class="mt-4">
        <%= link_to "Registrar Nova Necessidade", new_family_need_path(@family), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
