<nav class="bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to 'Candeias Social', root_path, class: 'text-xl font-bold text-indigo-600' %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <%= link_to 'Home', root_path, class: 'border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium' %>
          <!-- Adicione mais links de navegação aqui conforme necessário -->
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <!-- Listar projetos -->
        <%= link_to 'Projetos', projects_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
        <!-- Listar regiões -->
        <%= link_to 'Regiões', regions_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
        <% if user_signed_in? %>
          <%= link_to 'Editar perfil', edit_user_registration_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
        <% else %>
          <%= link_to 'Registrar', new_user_registration_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
          <%= link_to 'Entrar', new_user_session_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>