<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Social Project App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        min-height: 100vh;
        position: relative;
        padding-bottom: 60px; /* Ajuste este valor conforme a altura do seu footer */
      }
    </style>
  </head> 

  <body>
    <%= render 'shared/navigation' %>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <br><br><br><br><br><br>
    <%= render 'shared/footer' %>
  </body>
</html>
