<%= turbo_frame_tag "new_member" do %>
  <%= form_with(model: [family, member], local: false) do |form| %>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <%= form.label :name, "Nome" %>
        <%= form.text_field :name, class: "w-full" %>
      </div>
      <div>
        <%= form.label :age, "Idade" %>
        <%= form.number_field :age, class: "w-full" %>
      </div>
      <div>
        <%= form.label :role, "Papel" %>
        <%= form.text_field :role, class: "w-full" %>
      </div>
      <div>
        <%= form.label :firm_in_faith, "Firme com Jesus?" %>
        <%= form.check_box :firm_in_faith %>
      </div>
    </div>
    <%= form.submit "Adicionar Membro", class: "mt-4 bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>
