<div id="<%= dom_id member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Family:</strong>
    <%= member.family_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= member.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= member.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= member.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Firm in faith:</strong>
    <%= member.firm_in_faith %>
  </p>

</div>
